/* [project]/src/styles.css [app-client] (css) */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: .75rem;
  --background: #f9fafd;
  --foreground: #0e0f23;
  --card: #fff;
  --card-foreground: #0e0f23;
  --popover: #fff;
  --popover-foreground: #0e0f23;
  --primary: #7844f0;
  --primary-foreground: #fcfcfc;
  --primary-glow: #d15fea;
  --primary-deep: #4c1ebc;
  --secondary: #f1f0ff;
  --secondary-foreground: #2b165e;
  --muted: #f0f1f9;
  --muted-foreground: #5e617a;
  --accent: #fae2ff;
  --accent-foreground: #530063;
  --destructive: #ee0f1f;
  --destructive-foreground: #fcfcfc;
  --border: #dcdceb;
  --input: #e3e3f2;
  --ring: #7844f0;
  --sidebar: #fbfbff;
  --sidebar-foreground: #1d1e39;
  --sidebar-primary: #7844f0;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #eeecff;
  --sidebar-accent-foreground: #390185;
  --sidebar-border: #dcdceb;
  --sidebar-ring: #7844f0;
  --gradient-primary: linear-gradient(135deg, var(--primary) 0%, var(--primary-glow) 100%);
  --gradient-soft: linear-gradient(135deg, #f4f3ff 0%, #fdebff 100%);
  --gradient-line: linear-gradient(180deg, var(--primary) 0%, var(--primary-glow) 100%);
  --shadow-sm: 0 1px 2px 0 #7844f00f;
  --shadow-md: 0 4px 12px -2px #7844f01f;
  --shadow-lg: 0 12px 32px -8px #7844f038;
  --shadow-glow: 0 0 24px #d15fea59;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(98.2226% .319421 -1.86684);
    --foreground: lab(4.92484% 3.78201 -13.253);
    --card: lab(100% 0 0);
    --card-foreground: lab(4.92484% 3.78201 -13.253);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(4.92484% 3.78201 -13.253);
    --primary: lab(43.5111% 52.4907 -80.0604);
    --primary-foreground: lab(98.84% .0000298023 -.0000119209);
    --primary-glow: lab(59.4125% 60.1421 -50.7716);
    --primary-deep: lab(28.3288% 50.2198 -75.5799);
    --secondary: lab(95.1681% 2.47616 -7.07105);
    --secondary-foreground: lab(14.3592% 26.0189 -40.0297);
    --muted: lab(95.2843% .652701 -3.72498);
    --muted-foreground: lab(41.6484% 3.34992 -14.5372);
    --accent: lab(92.3688% 13.1684 -11.9573);
    --accent-foreground: lab(17.8092% 51.3244 -41.2079);
    --destructive: lab(51.1789% 75.779 56.0668);
    --destructive-foreground: lab(98.84% .0000298023 -.0000119209);
    --border: lab(88.2254% 1.93232 -7.26802);
    --input: lab(90.5456% 1.92997 -7.26937);
    --ring: lab(43.5111% 52.4907 -80.0604);
    --sidebar: lab(98.7457% 1.21525 -3.55023);
    --sidebar-foreground: lab(12.4439% 5.8603 -17.7157);
    --sidebar-primary: lab(43.5111% 52.4907 -80.0604);
    --sidebar-primary-foreground: lab(98.84% .0000298023 -.0000119209);
    --sidebar-accent: lab(93.8028% 5.13428 -14.0356);
    --sidebar-accent-foreground: lab(17.2694% 45.0084 -60.2905);
    --sidebar-border: lab(88.2254% 1.93232 -7.26802);
    --sidebar-ring: lab(43.5111% 52.4907 -80.0604);
    --gradient-soft: linear-gradient(135deg, lab(96.2274% 3.77885 -10.5675) 0%, lab(94.8266% 10.5204 -9.58958) 100%);
    --shadow-sm: 0 1px 2px 0 lab(43.5111% 52.4907 -80.0604 / .06);
    --shadow-md: 0 4px 12px -2px lab(43.5111% 52.4907 -80.0604 / .12);
    --shadow-lg: 0 12px 32px -8px lab(43.5111% 52.4907 -80.0604 / .22);
    --shadow-glow: 0 0 24px lab(59.4125% 60.1421 -50.7716 / .35);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@utility bg-gradient-primary {
  background-image: var(--gradient-primary);
}

@utility bg-gradient-soft {
  background-image: var(--gradient-soft);
}

@utility shadow-glow {
  box-shadow: var(--shadow-glow);
}

@utility shadow-elegant {
  box-shadow: var(--shadow-lg);
}

/*# sourceMappingURL=src_styles_0aq1.mu.css.map*/